window {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#input {
    font-family: "Intel One Mono";
    font-weight: bold;
    background: transparent;
    color: #abb2bf;
    min-height: 64px;
    font-size: 24pt;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 10px;
    padding: 5px;
}

#input > image.left {
    -gtk-icon-transform: scale(2.5);
    margin-left: 24px;
    margin-right: 24px;
}

#inner-box {
    background: transparent;
}

#outer-box {
    background: transparent;
    border-radius: 5px;
    padding: 20px;
    height: 960px;
    border: 1px solid rgba(92, 92, 141, 0.4);
}

#scroll {
    margin: 18px 0px;
}

#entry {
    font-family: "Intel One Mono";
    font-size: 16pt;
    background: rgba(0, 0, 0, 0.4);
    color: #dddddd;
    border-radius: 10px;
    padding: 18px;
    margin: 8px;
    border: none;
}

#entry:selected {
    background-color: #989bcc;
    color: #282c34;
    border: none;
}
